<mat-card>
  <div class="container">
    <div>
      <form [formGroup]="numberplateForm" (ngSubmit)="updatenumberPlate(numberplateForm.value)">
        <div>
          <mat-form-field hintLabel="Max 6 characters" appearance="outline" class="example-full-width">
            <mat-label>Registraion No.*</mat-label>
            <input matInput #input maxlength="6" placeholder="Ex. BAH234" formControlName="registrationNumber" oninput="this.value = this.value.toUpperCase()">
            <mat-hint align="end">{{input.value.length}}/6</mat-hint>
            <mat-error>Please Enter correct registration Number</mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Owner Name*</mat-label>
            <input matInput placeholder="Owner Name" formControlName="ownerName">
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Reg. Date</mat-label>
            <input matInput [matDatepicker]="regDate" formControlName="registrationDate">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="regDate"></mat-datepicker-toggle>
            <mat-datepicker #regDate></mat-datepicker>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Chassis No.*</mat-label>
            <input matInput placeholder="Chassi No." formControlName="chassisNo">
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Engine No.*</mat-label>
            <input matInput placeholder="Engine No." formControlName="engineNo">
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Make</mat-label>
            <mat-select formControlName="make">
              <mat-option *ngFor="let make of makes" [value]="make.name">
                {{make.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div>
          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Model</mat-label>
            <input matInput placeholder="Ex:X1,Polo,Nexon" formControlName="modelName">
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Vehicle Class</mat-label>
            <mat-select formControlName="vehicleClass">
              <mat-option *ngFor="let type of vehicleClasses" [value]="type.name">
                {{type.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field appearance="outline" class="example-full-width">
            <mat-label>Validity Date</mat-label>
            <input matInput [matDatepicker]="fitnessValidTill" formControlName="fitnessValidTill">
            <mat-hint>MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="fitnessValidTill"></mat-datepicker-toggle>
            <mat-datepicker #fitnessValidTill></mat-datepicker>
          </mat-form-field>

            <section class="example-section">
              <label class="example-margin">Fuel Type:</label>
              <mat-radio-group aria-label="Select an option" formControlName="fuelType">
                <mat-radio-button class="example-radio-button" *ngFor="let fuel of fuelTypes" [value]="fuel.name">
                  {{fuel.name}}
                </mat-radio-button>
              </mat-radio-group>
            </section>
        </div>
        <button  class="submitButton" id="submitTxn" mat-flat-button color="primary" [disabled]="!numberplateForm.valid">Update</button>
      </form>
    </div>
  </div>
</mat-card>
